html, body, header, main, section {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

header img {
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: -4px; */
  background-color: #fff;
}

main img {
  width: 100%;
}

#player {
  position: absolute;

  /* yt player mobile positioning */
  top: 59.5vw;
  left: 3%;

  height: 53vw;
  width: 95%;
}

@media only screen and (min-width: 1200px) {
  main {
    flex-wrap: nowrap;
  }

  #player {
    /* yt player desktop positioning */
    top: 34vw;
    left: 1.35%;

    height: 24.4vw;
    width: 43.8%;
  }
}
